<!--<mat-expansion-panel>-->
<!--<mat-expansion-panel-header>-->
<!--<mat-panel-title> Salut... </mat-panel-title>-->
<!--<mat-panel-description> Panel content...</mat-panel-description>-->
<!--</mat-expansion-panel-header>-->
<!--</mat-expansion-panel>-->

<!--<mat-card class= "layout__card">-->
  <!--<mat-card-header class="card__header" id="h4">-->
    <!--<mat-card-title >Longitudinal Viewer</mat-card-title>-->
    <!--&lt;!&ndash;<mat-card-title>Longitudinal Viewer</mat-card-title>&ndash;&gt;-->
  <!--</mat-card-header>-->
  <!--<div class="card__content">-->
    <!--<mat-card-content>-->
      <!--<plotly-plot [data]=data [layout]=layout [config]=config>Loading...</plotly-plot>-->
    <!--</mat-card-content>-->
  <!--</div>-->
<!--</mat-card>-->

<div>
<plotly-plot [data]=data  [layout]=layout [config]=config>Loading...</plotly-plot>
</div>
